@import url(https://fonts.googleapis.com/css2?family=Lato:wght@100;300&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400&display=swap);

/*!

/* Add custom CSS for the sticky navbar */
.sticky-top {
    position: sticky;
    top: 0;
    z-index: 1000;
    /* Adjust the z-index as needed */
}

/* Checkbox and label inline  */
.form-check-input {
    margin-right: 0px !important;
}

body {
    font-family: Quicksand,sans-serif;

}

.bigger-text {
    font-size: 4.5rem; /* Adjust the size as needed */
    white-space: nowrap; /* Prevent wrapping */
}

.bigger-text span {
    display: block; /* Each word on a new line */
}

/* media queries */

.hero-section {
    text-align: left !important;
}
.featured-section{
    text-align: left !important;
}


.img-right-corner{
    border-radius: 0px 50px 0px 0px;
}
.text-left-corner {
    border-radius: 0px 0px 0px 50px;
}
/* responsive, form small screens, use 13px font size */
@media (max-width: 992px) {
    .hero-section {
        text-align: center !important;
    }
    .featured-section{
        text-align: center !important;
        margin-top: 17pt;
    }
    .img-right-corner{
        border-radius: 0px 0px 0px 00px;
    }
    .text-left-corner {
        border-radius: 0px 0px 0px 00px;
    }
}
/* end media queries */
